# import packages

In [1]:
# !pip install transformers[torch]==4.3

In [1]:
import os
import torch
import pandas as pd
from transformers import BertModel, DistilBertModel
from tqdm import tqdm
# import kobert_tokenizer

# bring pre-trained kobert model

In [2]:
# pretrained_bertmodel = BertModel.from_pretrained("monologg/kobert")
# 참고
# 아레 코드랑 결과 같음
# model_skt = BertModel.from_pretrained("skt/kobert-base-v1")

In [3]:
os.getcwd()

'C:\\Users\\Administrator\\Desktop\\Work\\2. 인공지능리서치AIR\\1. source code'

# data sets

In [5]:
data_path = "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/1. input data"
file_name = "merged_data_set_AIR.xlsx"
data_set = pd.read_excel(os.path.join(data_path, file_name))
data_set.shape

(48000, 10)

In [6]:
data_set.columns = ['no',
                    'uid',
                   'publisher',
                   'title',
                   'summary',
                   'content',
                   'content_url',
                    'update_at',
                   'importance',
                   'polarity']
data_set = data_set.reset_index()

In [7]:
data_set.head(1)

,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity
0,0,0,354652739944452416,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+

# Tokenizer

In [7]:
from kobert_transformers import get_tokenizer
tokenizer = get_tokenizer()

In [8]:
tokenizer.tokenize("[CLS] 한국어 모델을 공유합니다. [SEP]")

['[CLS]', '▁한국', '어', '▁모델', '을', '▁공유', '합니다', '.', '[SEP]']

## For title

In [9]:
data_set_for_title = data_set[['uid', 'title']]
data_set_for_title["token_len"] = ""
data_set_for_title["tokenization"] = ""
# data_set_for_title.reset_index()
data_set_for_title = data_set_for_title.reset_index()

<ipython-input-9-ebfe296a4add>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_title["token_len"] = ""
<ipython-input-9-ebfe296a4add>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_title["tokenization"] = ""

In [72]:
data_set_for_title.head(1)

,index,uid,title,token_len,tokenization
0,0,354652739944452421,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',,

In [73]:
data_set_for_title.tail(1)

,index,uid,title,token_len,tokenization
47999,47999,659762898834428055,"""최신 갤럭시·아이폰, 4명 중 1명이 빌려쓴다""",,

In [74]:
for i in tqdm(range(data_set_for_title.shape[0])):
    tokenized = tokenizer.tokenize(str(data_set_for_title['title'][i]))
    data_set_for_title["token_len"][i] = len(tokenized)
    data_set_for_title["tokenization"][i] = ",".join(tokenized)

  0%|                                                                                        | 0/48000 [00:00<?, ?it/s]<ipython-input-74-9291174cddaf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_title["token_len"][i] = len(tokenized)
<ipython-input-74-9291174cddaf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_title["tokenization"][i] = ",".join(tokenized)
100%|██████████████████████████████████████████████████████████████████████████| 48000/48000 [00:26<00:00, 1833.64it/s]

In [75]:
data_set_for_title.head(2)

,index,uid,title,token_len,tokenization
0,0,354652739944452421,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',22,"▁김진,석,▁CJ,헬,로,비,전,▁대표,▁',주,주,총회,▁70%,이상,▁찬성,으로..."
1,1,848994285528420888,[포토] LG유플러스 AR글라스 국내 최초 출시,13,"▁[,포토,],▁LG,유플러스,▁,AR,글,라,스,▁국내,▁최초,▁출시"

In [76]:
data_set_for_title.tail(2)

,index,uid,title,token_len,tokenization
47998,47998,885647782860427818,귀한 몸 된 갤럭신S20 울트라…유통망 불만 높아진다,20,"▁귀,한,▁몸,▁된,▁,갤,럭,신,S,20,▁울,트,라,...,유통,망,▁불,만,▁..."
47999,47999,659762898834428055,"""최신 갤럭시·아이폰, 4명 중 1명이 빌려쓴다""",17,"▁"",최,신,▁갤럭시,·,아이,폰,,,▁4,명,▁중,▁1,명이,▁빌려,쓴,다,"""

In [67]:
import os
os.getcwd()

'C:\\Users\\Administrator\\Desktop\\Work\\2. 인공지능리서치AIR\\1. source code'

In [77]:
save_path = "C:\\Users\\Administrator\\Desktop\\Work\\2. 인공지능리서치AIR\\2. data sets\\2. processed data"
data_set_for_title.to_excel(save_path + "/tokenization_for_title.xlsx")

## For summary

In [78]:
data_set.head(1)

,index,uid,publisher,title,summary,content,content_url,update_at,importance,polarity
0,0,354652739944452421,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+

In [81]:
data_set_for_summary = data_set[['uid', 'summary']]
data_set_for_summary["token_len"] = ""
data_set_for_summary["tokenization"] = ""
# data_set_for_title.reset_index()
data_set_for_summary = data_set_for_summary.reset_index()

<ipython-input-81-eda7f4fac42b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_summary["token_len"] = ""
<ipython-input-81-eda7f4fac42b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_summary["tokenization"] = ""

In [82]:
data_set_for_summary.head(1)

,index,uid,summary,token_len,tokenization
0,0,354652739944452421,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,,

In [83]:
data_set_for_summary.tail(1)

,index,uid,summary,token_len,tokenization
47999,47999,659762898834428055,SK텔레콤 홍보 모델들이 스마트폰 렌탈 서비스 'T렌탈'을 이용하고 있는 모습.\n...,,

In [91]:
for i in tqdm(range(data_set_for_summary.shape[0])):
    tokenized = tokenizer.tokenize(str(data_set_for_summary['summary'][i]))
    data_set_for_summary["token_len"][i] = len(tokenized)
    data_set_for_summary["tokenization"][i] = ",".join(tokenized)

  0%|                                                                                        | 0/48000 [00:00<?, ?it/s]<ipython-input-91-d3807f5634da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_summary["token_len"][i] = len(tokenized)
<ipython-input-91-d3807f5634da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_for_summary["tokenization"][i] = ",".join(tokenized)
100%|██████████████████████████████████████████████████████████████████████████| 48000/48000 [00:31<00:00, 1525.82it/s]

In [92]:
data_set_for_summary.head(1)

,index,uid,summary,token_len,tokenization
0,0,354652739944452421,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,90,"▁임,세,영,▁,기자,▁=,▁김진,석,▁CJ,헬,로,비,전,▁대표,가,▁26,일,▁..."

In [93]:
data_set_for_summary.tail(1)

,index,uid,summary,token_len,tokenization
47999,47999,659762898834428055,SK텔레콤 홍보 모델들이 스마트폰 렌탈 서비스 'T렌탈'을 이용하고 있는 모습.\n...,62,"▁SK,텔레콤,▁홍보,▁모델,들이,▁스마트폰,▁,렌,탈,▁서비스,▁',T,렌,탈,'..."

In [94]:
save_path = "C:\\Users\\Administrator\\Desktop\\Work\\2. 인공지능리서치AIR\\2. data sets\\2. processed data"
data_set_for_summary.to_excel(save_path + "/tokenization_for_summary.xlsx")

## For content

In [95]:
data_set_tokened = data_set
data_set_tokened["content_len"] = data_set_tokened['content'].str.len()
data_set_tokened["content_token_len"] = ""
data_set_tokened["content_tokenized"] = ""
data_set_tokened = data_set_tokened.reset_index()

In [96]:
data_set_tokened.head(1)

,level_0,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity,content_len,content_token_len,content_tokenized
0,0,0,0,354652739944452416,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+,175.0,,

In [97]:
for i in tqdm(range(data_set_tokened.shape[0])):
    tokenized = tokenizer.tokenize(str(data_set_tokened['content'][i]))
    data_set_tokened["content_token_len"][i] = len(tokenized)
    data_set_tokened["content_tokenized"][i] = ",".join(tokenized)

  0%|                                                                                        | 0/48000 [00:00<?, ?it/s]<ipython-input-97-6259c18d9197>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_tokened["content_token_len"][i] = len(tokenized)
<ipython-input-97-6259c18d9197>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set_tokened["content_tokenized"][i] = ",".join(tokenized)
100%|███████████████████████████████████████████████████████████████████████████| 48000/48000 [00:53<00:00, 902.99it/s]

In [98]:
data_set_tokened.head(1)

,level_0,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity,content_len,content_token_len,content_tokenized
0,0,0,0,354652739944452416,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+,175.0,98,"▁임,세,영,▁,기자,▁=,▁김진,석,▁CJ,헬,로,비,전,▁대표,가,▁26,일,▁..."

In [40]:
data_save_path = "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/2. processed data"
data_set_tokened.to_excel(data_save_path + "/data_set_tokened.xlsx")

# Pre-processing

In [11]:
data_save_path = "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/2. processed data"
data_set_tokened = pd.read_excel(data_save_path + "/data_set_tokened.xlsx")

In [74]:
data_set_tokened.publisher.value_counts().to_excel(data_save_path + '/publisher_count.xlsx')

In [217]:
test_dt = pd.DataFrame({"a":[1, 2, 3], "b":["abcdefg", 'cdefg', 'efr']})

In [220]:
test_dt.str.index("f")

AttributeError: 'DataFrame' object has no attribute 'str'

In [184]:
# 공통
data_set_tokened['content_1'] = data_set_tokened['content'] 
# e-mail address
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[가-힣]+ [(]+[a-zA-Z0-9.]+[@][a-zA-Z.]+[)].*\Z', " ",regex = True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.rstrip('[가-힣]+ [(]+[a-zA-Z0-9.]+[@][a-zA-Z.]+[)]', " ",regex = True)

In [212]:
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.index('[가-힣]+ [(]+[a-zA-Z0-9.]+[@][a-zA-Z.]+[)]')

ValueError: substring not found

In [197]:
data_set_tokened['content_1'] = data_set_tokened['content'] #.str.replace('[가-힣]+ [(]+[a-zA-Z0-9.]+[@][a-zA-Z.]+[)]', ' ', regex = True)

## 신문사별
### 1 이데일리
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('이데일리 기자들의 비밀공간', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('이데일리', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace("[(]출처: [가-힣]+[)]", ' ', regex = True)
#### 마지막 기자 주소 이후 광고 멘트들. [기자주소]-이후 모든 문자열 삭제로 해결하면 좋겠따. # 1006, 1030
# data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('20~30 세대를 위한 꿀팁! 정보', ' ', regex = False)
# data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace("꿀잼 \'웹툰\'이 매일 매일 공짜...", ' ', regex = False)
# data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace("선착순 \'5만명\' 한정, KFC 쿠폰이 공짜~", ' ', regex = False)
# data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace("2030을 위한 알짜 정보가 가득", ' ', regex = False)
# data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace("최신 웹툰이 매일 공짜. \'웹툰\'", ' ', regex = False)


#
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('chosunbiz.com', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('한경로보뉴스', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('라이온봇기자', ' ', regex = False) #213
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('동영상 뉴스', ' ', regex = False) #5253
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('Copyright by JTBC and JTBC Content Hub Co. Ltd.', ' ', regex = False) #5253
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('【서울=뉴시스】', ' ', regex = False) #214
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('※ 본 기사는 한국경제TV와 `금융 AI 전문기업 씽크풀`이 실시간으로 작성한 기사입니다', ' ', regex = False) #213 
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('ⓒ 한국경제TV, 무단 전재 및 재배포 금지', ' ', regex = False) #213 
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('전자신문과 금융AI전문기업 씽크풀의 증시분석 전문기자 로봇 ET가 쓴 기사입니다', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('저작권자(c) YTN & YTN PLUS', ' ', regex = False) # 176
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('(단위: 천원)', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('영상취재: [가-힣,]+', ' ', regex = True) #5253
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('영상편집: [가-힣,]+', ' ', regex = True) #5253
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[가-힣]{3}기자', " ", regex=True) # 123
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[가-힣]+ 기자', " ", regex=True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[가-힣]+ 선임기자', " ", regex=True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('꿀잼가득', " ", regex=True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('청춘뉘우스', " ", regex=True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[↑]', " 상승 ", regex=True)

# 공통
## e-mail address
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[가-힣]+ [(]+[a-zA-Z0-9.]+[@][a-zA-Z.]+[)]', ' ', regex = True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[가-힣]+[(]+[a-zA-Z0-9.]+[@][a-zA-Z.]+[)]', ' ', regex = True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[a-zA-Z0-9.]+[@][a-zA-Z.]', ' ', regex = True)

## stock fs ticker no
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[(][0-9]{6}[)]', ' ', regex = True)
# yyyy.mm.dd
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[0-9]+[.][0-9]+[.][0-9]+', ' ', regex = True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[0-9]+일', " ", regex=True)

## 사진 설명
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('(가운데)', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('(오른쪽)', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('(가장 오른쪽)', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('(왼쪽)', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('(가장 왼쪽)', ' ', regex = False)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[표]', ' ', regex = False) # 213 
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[그래프]', ' ', regex = False) # 213 

# data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('...', ' ', regex = False)
## 기타 특수문자 처리
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[△▲■◇◆●]', "", regex=True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('\n', " ", regex=True)
data_set_tokened['content_1'] = data_set_tokened['content_1'].str.replace('[-=+,#/\?:^$@*\"※~&%ㆍ!』\\‘|\[\]\<\>`\'…》]', " ", regex=True)

In [166]:
data_set_tokened.loc[8, 'content_1']|

'현지 1위 사파리콤  보건부 당국과 GEPP 착공식윤혜정 KT 빅데이터사업지원단장(전무)이  (현지시간) 사파리콤 본사에서 열린  글로벌 감염병 확산 방지 플랫폼’(GEPP) 착공식에서 인사말을 하고 있다. 사파리콤은 케냐 현지 1위 통신사업자다. KT 제공      KT 가 아프리카에서 감염병 방지를 위한 사회공헌을 위해 현지 통신사·기관들과 협력한다.  KT는  (현지시간) 케냐 나이로비에서 현지 1위 통신사업자 사파리콤  케냐 보건부·정보통신부 등과 함께  글로벌 감염병 확산 방지 플랫폼’(GEPP) 착공식을 진행했다고 밝혔다.  GEPP는 세계 주요 통신사업자들이 로밍 기록 등 통신 이용 데이터를 이용해 세계적인 감염병 확산을 사전에 차단하기 위한 플랫폼이다. 각 국가의 관련 당국과 협업해 보건환경을 개선하자는 취지로 KT가 제안한 뒤 여러 국가 통신사업자 등과 협약을 체결중이다.  사파리콤과 진행하는 이번 착공식은 이런 협약이 구체적인 움직임으로 이어진 첫 사례라고 KT 관계자는 설명했다. KT와 사파리콤은 지난해 협약 체결에 이어 올해 상반기 케냐 법률원  정통부 등 정부 기관들과 워크숍을 통해 현지 적용을 위한 법률·기술 자문을 받았다.  케냐에 구축할 플랫폼은 케냐 보건부에서 설정한 국내외 감염병 정보와 감염병 위험 지역을 여행 중인 사라피콤의 고객 정보를 통합해 분석  활용한다. 분석한 정보를 바탕으로 사파리콤은 고객에게 문자메시지(SMS)를 통해 개인차원의 예방과 응대가 가능할 수 있도록 지원하고  정부 당국은 감염병 노출 현황 파악과 향후 예방정책 마련에도 활용할 수 있다.  케냐는 인근 국가인 DR콩고에서 에볼라 바이러스가 유행해 225명이 사망하는 등 지리적으로 감염병 확산에 민감하며  최근 경제 개발 등으로 외국인의 입국이 늘고 있어 적극적인 모습을 보이고 있다.  반기문 유엔글로벌콤팩트 한국협회 명예회장은 착공식 축하 영상 메시지를 통해 “지속가능개발목표(SDGs) 달성을 위해 민관 협력의 실질적인 사례가 이루어졌다”며 이번 프로젝트를 높이 평가했다.  윤혜정 KT 빅데이터사업지원단장(전무)은 “글로벌 감염병 확산 방지 프로젝트가 케냐 정부 차원에서 추진되어 그 지속성과 효과를 기대하고 있다”며 “케냐 정부  사파리콤과 협업해 민관 협력의 좋은 선례를 남기고 앞으로도 국내외에서 KT의 기술력을 인정받도록 노력하겠다”고 말했다.  KT는 또 사파리콤과 5G 워크숍을 열고 KT의 5G 비전과 지난   첫 전파발사를 비롯한 5G 상용화 계획을 소개하며 양사간 사업협력 방안을 논의했다고 덧붙였다.           '

In [ ]:
data[0].dropna(subset=["content", "summary"], inplace = True)
data[1].dropna(subset=["content", "summary"], inplace = True)
for i in range(2):
  data[i].loc[:, "content"].replace('[-=+,#/\?:^$@*\"※~&%ㆍ!』\\‘|\[\]\<\>`\'…》]', " ", regex=True, inplace=True)
  data[i].loc[:, "content"].replace('\n', "", regex=True, inplace=True)
  data[i].loc[:, "summary"].replace('[-=+,#/\?:^$@*\"※~&%ㆍ!』\\‘|\[\]\<\>`\'…》]', " ", regex=True, inplace=True)
  data[i].loc[:, "summary"].replace('\n', "", regex=True, inplace=True)
  data[i].loc[:, "content"].replace('[가-힣]+ 기자', "", regex=True, inplace=True)
  data[i].loc[:, "summary"].replace('[가-힣]+ 기자', "", regex=True, inplace=True)
  data[i].loc[:, "content"].replace('[가-힣]+ 선임기자', "", regex=True, inplace=True)
  data[i].loc[:, "summary"].replace('[가-힣]+ 선임기자', "", regex=True, inplace=True)

# Modeling

## Model1 : No preprocessing + KoBert

In [2]:
# packages
import os
import torch
import pandas as pd
from transformers import BertModel, DistilBertModel
from tqdm import tqdm
from tqdm.notebook import tqdm
from torch.utils.data import TensorDataset
from transformers import BertForSequenceClassification

In [3]:
# import data
data_path = "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/1. input data"
file_name = "merged_data_set_AIR.xlsx"
data_set = pd.read_excel(os.path.join(data_path, file_name))
data_set.columns = ['no',
                    'uid',
                   'publisher',
                   'title',
                   'summary',
                   'content',
                   'content_url',
                    'update_at',
                   'importance',
                   'polarity']
data_set = data_set.reset_index()
data_set['content'] = data_set['content'].astype(str)
data_set.head(1)

,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity
0,0,0,354652739944452416,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+

In [4]:
data_set = data_set.dropna(subset = ["importance"])
data_set = data_set.reset_index(drop = True)
data_set['index'] = data_set.index
data_set.shape

(47241, 11)

In [5]:
data_set.head(1)

,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity
0,0,0,354652739944452416,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+

In [6]:
data_set.tail(1)

,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity
47240,47240,34499,659762898834428032,연합뉴스,"""최신 갤럭시·아이폰, 4명 중 1명이 빌려쓴다""",SK텔레콤 홍보 모델들이 스마트폰 렌탈 서비스 'T렌탈'을 이용하고 있는 모습.\n...,SK텔레콤 홍보 모델들이 스마트폰 렌탈 서비스 'T렌탈'을 이용하고 있는 모습. S...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2018-06-17T09:00:00,-,0

In [8]:
# encoding the labels
possible_labels = data_set.importance.unique()
encoded_values = [1, 0, 2]

label_dict = {}
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = encoded_values[index]
label_dict

{'+': 1, '0': 0, '-': 2}

In [9]:
data_set['label'] = data_set.importance.replace(label_dict)

In [10]:
data_set.index.values

array([    0,     1,     2, ..., 47238, 47239, 47240], dtype=int64)

In [11]:
data_set.label.values

array([1, 0, 2, ..., 2, 2, 2], dtype=int64)

In [12]:
# train and validation split
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(data_set.index.values,
                                                 data_set.label.values,
                                                 test_size = 0.2,
                                                 random_state = 42,
                                                 stratify = data_set.label.values)
data_set['data_type'] = ['not_set'] * data_set.shape[0]

In [13]:
data_set.loc[X_train, 'data_type'] = 'train'
data_set.loc[X_val, 'data_type'] = 'val'

data_set.groupby(['importance', 'label', 'data_type']).count()

                            index     no    uid  publisher  title  summary  \
importance label data_type
+          1     train      11725  11725  11725      11725  11725    11669
                 val         2932   2932   2932       2932   2932     2922
-          2     train      19088  19088  19088      19088  19088    18898
                 val         4772   4772   4772       4772   4772     4733
0          0     train       6979   6979   6979       6979   6979     6958
                 val         1745   1745   1745       1745   1745     1743

                            content  content_url  update_at  polarity
importance label data_type
+          1     train        11725        11725      11725     11724
                 val           2932         2932       2932      2932
-          2     train        19088        19088      19088     19082
                 val           4772         4772       4772      4772
0          0     train         6979         6979       6979      6974
                 val           1745         1745       1745      1745

In [14]:
# tokenizer
from kobert_transformers import get_tokenizer
tokenizer = get_tokenizer()
tokenizer.tokenize('한국어 모델을 공유합니다')

['▁한국', '어', '▁모델', '을', '▁공유', '합니다']

In [15]:
data_set.head(1)

,index,no,uid,publisher,title,summary,content,content_url,update_at,importance,polarity,label,data_type
0,0,0,354652739944452416,뉴스1,김진석 CJ헬로비전 대표 '주주총회 70%이상 찬성으로 합병안 가결',임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,임세영 기자 = 김진석 CJ헬로비전 대표가 26일 오전 서울 마포구 상암동 누리꿈스...,http://news.naver.com/main/read.nhn?mode=LSD&m...,2016-02-26T10:25:00,+,+,1,train

In [16]:
encoded_data_train = tokenizer.batch_encode_plus(
    data_set[data_set.data_type=='train'].content.values, 
    add_special_tokens = True, 
    return_attention_mask = True, 
    pad_to_max_length = True, 
    max_length = 512, 
    padding = True,
    truncation = True,
    return_tensors = 'pt'
)

encoded_data_val = tokenizer.batch_encode_plus(
    data_set[data_set.data_type=='val'].content.values, 
    add_special_tokens = True, 
    return_attention_mask = True, 
    pad_to_max_length = True, 
    padding = True,
    max_length = 512, 
    truncation = True,
    return_tensors = 'pt'
)

In [17]:
input_ids_train = encoded_data_train['input_ids']
attention_masks_train = encoded_data_train['attention_mask']
labels_train = torch.tensor(data_set[data_set.data_type=='train'].label.values)

input_ids_val = encoded_data_val['input_ids']
attention_masks_val = encoded_data_val['attention_mask']
labels_val = torch.tensor(data_set[data_set.data_type=='val'].label.values)

dataset_train = TensorDataset(input_ids_train, attention_masks_train, labels_train)
dataset_val = TensorDataset(input_ids_val, attention_masks_val, labels_val)

In [18]:
torch.save(dataset_train, "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/2. processed data/dataset_train.pth")
torch.save(dataset_val, "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/2. processed data/dataset_val.pth")

In [60]:
model = BertForSequenceClassification.from_pretrained("monologg/kobert",
                                                     num_labels = 3,
                                                     output_attentions = False,
                                                     output_hidden_states = False)
# model

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at monologg/kobert and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [19]:
# data loaders
from torch.utils.data import DataLoader, RandomSampler, SequentialSampler

batch_size = 128

dataloader_train = DataLoader(dataset_train, 
                              sampler = RandomSampler(dataset_train), 
                              batch_size = batch_size)

dataloader_validation = DataLoader(dataset_val, 
                                   sampler = SequentialSampler(dataset_val), 
                                   batch_size = batch_size)

In [20]:
torch.save(dataloader_train, "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/2. processed data/dataloader_train.pth")
torch.save(dataloader_validation, "C:/Users/Administrator/Desktop/Work/2. 인공지능리서치AIR/2. data sets/2. processed data/dataloader_validation.pth")

In [54]:
train_groups = next(iter(dataloader_train))

In [67]:
print(f"shape : {len(train_groups)}")
train_groups[0] # .size()

shape : 3

tensor([[   2,  517, 7192,  ...,    1,    1,    1],
        [   2, 1316, 7601,  ...,    1,    1,    1],
        [   2, 3034, 7539,  ...,    1,    1,    1],
        ...,
        [   2, 4012, 7288,  ..., 7639, 6079,    3],
        [   2, 4491, 6122,  ...,    1,    1,    1],
        [   2, 4404, 2714,  ...,    1,    1,    1]])

In [66]:
train_groups[1] #.size()

tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        ...,
        [1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]])

In [65]:
train_groups[2] #.size()

tensor([2, 2, 1, 2, 2, 0, 1, 1, 0, 1, 1, 2, 0, 2, 1, 1, 0, 2, 0, 0, 2, 0, 2, 1,
        2, 2, 0, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 0, 2, 1, 2, 2, 2, 2, 0,
        0, 2, 2, 1, 1, 2, 2, 0, 0, 0, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 2, 0, 2, 2,
        2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 1, 0, 2, 1, 1, 1, 0, 0,
        2, 1, 1, 1, 2, 1, 2, 0, 0, 1, 2, 1, 2, 1, 1, 2, 0, 1, 1, 1, 0, 1, 2, 2,
        1, 1, 2, 1, 0, 2, 1, 1])

In [68]:
# optimizer & scheduler
from transformers import AdamW, get_linear_schedule_with_warmup

optimizer = AdamW(model.parameters(),
                  lr=1e-5, 
                  eps=1e-8)
                  
epochs = 5

scheduler = get_linear_schedule_with_warmup(optimizer, 
                                            num_warmup_steps=0,
                                            num_training_steps=len(dataloader_train)*epochs)

In [70]:
# performance metrics
from sklearn.metrics import f1_score

def f1_score_func(preds, labels):
    preds_flat = np.argmax(preds, axis=1).flatten()
    labels_flat = labels.flatten()
    return f1_score(labels_flat, preds_flat, average='weighted')

def accuracy_per_class(preds, labels):
    label_dict_inverse = {v: k for k, v in label_dict.items()}
    
    preds_flat = np.argmax(preds, axis=1).flatten()
    labels_flat = labels.flatten()

    for label in np.unique(labels_flat):
        y_preds = preds_flat[labels_flat==label]
        y_true = labels_flat[labels_flat==label]
        print(f'Class: {label_dict_inverse[label]}')
        print(f'Accuracy: {len(y_preds[y_preds==label])}/{len(y_true)}\n')

In [71]:
# training loop
import random
import numpy as np

seed_val = 17
random.seed(seed_val)
np.random.seed(seed_val)
torch.manual_seed(seed_val)
torch.cuda.manual_seed_all(seed_val)

def evaluate(dataloader_val):

    model.eval()
    
    loss_val_total = 0
    predictions, true_vals = [], []
    
    for batch in dataloader_val:
        
        batch = tuple(b.to(device) for b in batch)
        
        inputs = {'input_ids':      batch[0],
                  'attention_mask': batch[1],
                  'labels':         batch[2],
                 }

        with torch.no_grad():        
            outputs = model(**inputs)
            
        loss = outputs[0]
        logits = outputs[1]
        loss_val_total += loss.item()

        logits = logits.detach().cpu().numpy()
        label_ids = inputs['labels'].cpu().numpy()
        predictions.append(logits)
        true_vals.append(label_ids)
    
    loss_val_avg = loss_val_total/len(dataloader_val) 
    
    predictions = np.concatenate(predictions, axis=0)
    true_vals = np.concatenate(true_vals, axis=0)
            
    return loss_val_avg, predictions, true_vals

In [72]:
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")
device

device(type='cpu')

In [73]:
epochs = 5

for epoch in tqdm(range(1, epochs + 1)):
    model.train()
    loss_train_total = 0
    progress_bar = tqdm(dataloader_train, 
                        desc = 'Epoch {:1d}'.format(epoch), 
                        leave = False, 
                        disable = False)
    for batch in progress_bar:
        model.zero_grad()
        batch = tuple(b.to(device) for b in batch)
        inputs = {'input_ids':      batch[0],
                  'attention_mask': batch[1],
                  'labels':         batch[2],
                 }       
        outputs = model(**inputs)
        
        loss = outputs[0]
        loss_train_total += loss.item()
        loss.backward()

        torch.nn.utils.clip_grad_norm_(model.parameters(), 1.0)

        optimizer.step()
        scheduler.step()
        
        progress_bar.set_postfix({'training_loss': '{:.3f}'.format(loss.item()/len(batch))})
         
    torch.save(model.state_dict(), f'C:\\Users\\Administrator\\Desktop\\Work\\2. 인공지능리서치AIR\\1. source code\\save_models\\20210809\\finetuned_BERT_epoch_{epoch}.model')
        
    tqdm.write(f'\nEpoch {epoch}')
    
    loss_train_avg = loss_train_total/len(dataloader_train)            
    tqdm.write(f'Training loss: {loss_train_avg}')
    
    val_loss, predictions, true_vals = evaluate(dataloader_validation)
    val_f1 = f1_score_func(predictions, true_vals)
    tqdm.write(f'Validation loss: {val_loss}')
    tqdm.write(f'F1 Score (Weighted): {val_f1}')

  0%|          | 0/5 [00:00<?, ?it/s]

Epoch 1:   0%|          | 0/296 [00:00<?, ?it/s]

RuntimeError: [enforce fail at ..\c10\core\CPUAllocator.cpp:79] data. DefaultCPUAllocator: not enough memory: you tried to allocate 201326592 bytes.

In [ ]:
model = BertForSequenceClassification.from_pretrained("bert-base-uncased",
                                                      num_labels=len(label_dict),
                                                      output_attentions=False,
                                                      output_hidden_states=False)

model.to(device)

model.load_state_dict(torch.load('data_volume/finetuned_BERT_epoch_1.model', map_location=torch.device('cpu')))

_, predictions, true_vals = evaluate(dataloader_validation)
accuracy_per_class(predictions, true_vals)